:root{
  --btn-bg: #c0108d;
  --b-radius: 30px;
  --btn-shadow: .4rem .4rem 1rem #590842,
                -.4rem -.4rem 1rem #fac6eb;
  --btn-shadow-inset: .4rem .4rem 1rem #590842 inset,
                -.4rem -.4rem 1rem #fac6eb inset;
  --btn-shadow-length: .5rem .5rem 1.1rem #590842,
                -.5rem -.5rem 1.1rem #fac6eb;
                --text-color: white;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* line */
.line{
  width: 200px;
  height: 6px;
  border-radius: var(--b-radius);
  background-color: var(--btn-bg);
  margin: 30px auto;
}
/* bnt styling */
.btn{
  padding: 10px;
  border-radius: var(--b-radius);
  background-color: var(--btn-bg);
  box-shadow: 0 0 3px 2px lightgray;
  color: white;
  font-size: 2vmin;
}
/* header */
.header{
  background: url(../image/mount-2.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
 height: 100vh;
 width: 100vw;
 display: flex;
/* flex-direction: row; */
justify-content: center;
align-items: flex-end;
}
.header-content{
  text-align: center;
margin-bottom: 20vmin;
}
.header .header-content h4{
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 4vmin;
}
.header .header-content h1{
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 7vmin;
}
/* btn */
.btn{
  margin-top: 20px;
  text-transform: uppercase;
}
.btn:hover{
  color: #c0108d;
  font-weight: bold;
  background-color: white;
}

/* navbar styling */
.nav-bar{
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 20px; 
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .nav-link{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.nav-link li{
margin: 0 50px;
}
.nav-link li a{
   color: var(--text-color);
   font-size: 2.5vmin;
   text-transform: capitalize;
   text-decoration: none;
}
.nav-bar .logo h3{
  color: var(--text-color);
   font-size: 4vmin;
   text-transform: uppercase;
}
.home{
  background-color: var(--btn-bg);
  padding: 10px;
  border-radius: var(--b-radius);
  transition: .5s;
}
.home:hover{
  color: var(--btn-bg);
  background-color: var(--text-color);
}
.nav-link li a:hover{
  background-color: var(--text-color);
  color: var(--btn-bg);
  padding: 10px;
 border-radius: 10px;
}


/* /toggle */

.checkbtn{
  font-size: 30px;
  /* color: var(--text-color); */
  color: blue;
  position: fixed;
  top: 4%;
  right: 10%;
  z-index: 1000;
  display: none;
}
#check{
  display: none;
}

.section{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  text-align: center;
  /* height: 100vh; */
}
.section img{
  width: 80%;
  margin-bottom: 30px;
  border-radius: 20px;
}
.section .box{
  background: linear-gradient(white, whitesmoke);
  padding: 30px;
}
.section .box p{
font-size: 2vmin;
font-weight: bold;
}
.section .box h3{
  font-size: 3vmin;
  color: #c0108d;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
section{
  text-align: center;
  font-size: 5vmin;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 900;
  margin-top: 10%;
}
.xplore{
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* height: 60vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.xplore .content{
  padding: 30px;
  text-align: center;
  margin-top: 10%;
}
.xplore .content .h1{
  color: #c0108d;
  font-size: 6vmin;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.xplore .content .pTag{
font-size: 3vmin;
color: white;

}
#xplore{
  background: none;
}
#pTag{
  color: black;
}
.image{
  margin: 10%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.image img{
  width: 80%;
}

.footer{
  background: linear-gradient(whitesmoke, slateblue);
padding: 20px;
text-align: center;
text-transform: capitalize;
}
.footer h3{
font-size: 5vmin;
color: white;
}
.footer h5{
 font-size: 4vmin;
 color: white;
}

@media only screen and (max-width: 900px) {
.nav-bar{
  padding: 0;
}
.checkbtn{
  display: block;
}
.logo{
  position: absolute;
  top: 30px;
  left: 30px;
}
.nav-bar .nav-link{
  flex-flow: column;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  height: 100vh;
  left: -100%;
   background: rgb(15, 15, 83);
  transition: all 2s;
}
.nav-bar .nav-link li{
  margin: 50px 0;
}

.nav-bar .nav-link li a{
font-size: 4vmin;
  }
  #check:checked ~ .nav-link{
    left: 0;
  }

  .section{
    flex-flow: column;
    overflow: hidden;
  }
.xplore{
  grid-template-columns: none;
}
.image{
  grid-template-columns: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.image img{
  margin-left: 20px;
}
}


























